.yellow {
    /* color: #F8F988; */
    color: #efeff0;
}

.bg_yellow {
    /* background: #F8F988; */
    background: #efeff0;
}

.info {
    background-color: black;
    width: 20.0069rem;
    height: 15.005rem;
}

.bag {
    filter: invert(100%);
}

.img-hover {
    width: 320.11px;
}

.img-hover>img {
    padding: 3px;
}

.img-hover:hover {
    color: black;
    filter: invert(100%);
    transition: .3s ease;
}

.search-w {
    width: 27rem;
}


.stat {
    width: 18.75rem;
    height: 7rem;
}

hr {
    height: 1px;
    width: 100%;
}